# Variável para apontar para a API do Backend no Next.js
# No ambiente local de desenvolvimento, ela aponta para o servidor do Next.js (porta 3000)
VITE_API_URL="http://localhost:3000/api"

# Quando fizer o deploy na Vercel, você deve acessar o painel do Frontend:
# Settings -> Environment Variables
# E criar a variável VITE_API_URL apontando para a URL pública do seu backend.
# Exemplo: VITE_API_URL="https://meu-backend-otemplo.vercel.app/api"
